@model Future_Vet.Models.Vet

@{
    ViewBag.Title = "Delete";
}

<h3 class="View-title" style="font-size: 3vw">Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.License)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.License)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="button" value="Back to List" onclick='window.location = "@Url.Action("Index", "Vets")";' class="Green-button" />
    <input type="submit" value="Delete" class="Red-button" />
</div>
    }
</div>
